:root {
    --fuentout: cubic-bezier(0.165, 0.84, 0.44, 1);
}

::-webkit-scrollbar {
    height: 13px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0.5;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

/*Fonts*/

@font-face {
    font-family: 'Allan';
    src: url(fonts/Allan-Regular.ttf);
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-Regular.ttf);
}

/* Each tag's style */

body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    translate: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Raleway';
    user-select: none;
    overflow: hidden;
    animation: zoomout 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 0.4s;
    transition: translate .4s cubic-bezier(0.165, 0.84, 0.44, 1), transform .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button {
    transition: background-color 0.25s var(--fuentout),
        border 0.25s var(--fuentout),
        color 0.25s var(--fuentout);
    font-family: 'Raleway';
    background-color: white;
    border-radius: 50px;
    border: 1.6px solid black;
    width: 100px;
    height: 30px;
}

button:hover {
    background-color: gray;
    color: white;
    border: 1.6px solid white;
    cursor: pointer;
}

input {
    transition: background-color 0.25s, border 0.25s ease;
    font-family: 'Raleway';
    background-color: white;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(185, 185, 185);
    width: 130px;
    height: 20px;
    padding-left: 6px;
}

input[type="number"] {
    width: 70px;
    height: 25px;
    border-radius: 20px;
    padding-left: 15px;
    translate: 0px -2.5px;
}

input[type="number"]:hover {
    background-color: rgb(160, 160, 160);
}

input[type="file"] {
    width: 220px;
    height: 21px;
    background-color: transparent;
    border-radius: 0px;
}

input[type="text"] {
    scale: 100px;
}

dialog {
    display: none;
    position: absolute;
    background-color: #fafafa;
    border: transparent;
    translate: 0px -460px;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    z-index: 1000 !important;
}

#header{
    position: absolute;
    transform: translate(0px, -100px);
}

#v-name{
    display: flex;
}